<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_solve_the_exam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppSolveTheExam">
        <activity
            android:name="com.example.app_solve_the_exam.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app_solve_the_exam.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app_solve_the_exam.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app_solve_the_exam.BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app_solve_the_exam.IntroduceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app_solve_the_exam.MinigameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app_solve_the_exam.QaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>